{% extends "layout.html" %}
{% block body_content %}
	<p>Add New Task</p>

	<div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.task_name.label }}
                {{ form.task_name }}
                {% if form.task_name.errors %}
                <div class="error">
                    {% for error in form.task_name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                {{ form.project_id.label }}
                {{ form.project_id }}
                {% if form.project_id.errors %}
                <div class="error">
                    {% for error in form.project_id.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
			</div>
			<br>
            <div class="form-group">
                {{ form.user.label }}
                {{ form.user }}
                {% if form.user.errors %}
                <div class="error">
                    {% for error in form.user.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class='form_group'>
                {{ form.due_date.label }}
                {{ form.due_date }}
                {% if form.due_date.errors %}
                    <div class='error'>
                        {% for error in form.due_date.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class='form_group'>
                {{ form.start_date.label }}
                {{ form.start_date }}
                {% if form.start_date.errors %}
                    <div class='error'>
                        {% for error in form.start_date.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class='form_group'>
                {{ form.end_date.label }}
                {{ form.end_date }}
                {% if form.end_date.errors %}
                    <div class='error'>
                        {% for error in form.end_date.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
			</div>
			<br>
            <div class='form_group'>
                {{ form.status.label }}
                {{ form.status }}
                {% if form.status.errors %}
                    <div class='error'>
                        {% for error in form.status.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class='form_group'>
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}