{% extends "layout.html" %}
{% block body_content %}
   <p>Projects</p>
   <a href="{{ url_for('addproject') }}">Add New Project</a><br>
   <br>
    <table border="1">
       <thead>
           <tr>
               <th>Project Name</th>
               <th>Project Owner</th>
               <th>Due Date</th>
               <th>Start Date</th>
               <th>End Date</th>
			   <th>Status</th>
			   <th>Edit</th>
               <th>Delete</th>
               <th>New Task</th>
           </tr>
       </thead>
       {% for project in projects %}
           <tbody>
               <tr>
                   <td>{{ project.project_name }}</td>
                   <td>{{ project.owner }}</td>
                   <td>{{ project.due_date }}</td>
                   <td>{{ project.start_date }}</td>
                   <td>{{ project.end_date }}</td>
				   <td>{{ project.status }}</td>
                   <td><a href="editproject/{{ project.id }}">Edit</a></td>
                   <td><a href="deleteproject/{{ project.id }}">Delete</a></td>
                   <td><a href="addtask/{{ project.id }}">Add New Task</a>
                   </td>
               </tr>  
           </tbody>
       {% endfor %}
   </table>
{% endblock %}
 
