{% extends "layout.html" %}
{% block body_content %}
	<p>Tasks</p>
	<table border="1">
		<thead>
			<tr>
				<th>Task Name</th>
				<th>Assigned User</th>
				<th>Due Date</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Status</th>
				<th>Edit</th>
               	<th>Delete</th>
			</tr>
		</thead>
		{% for task in tasks %}
			<tbody>
				<tr>
					<td>{{ task.task_name }}</td>
					<td>{{ task.user }}</td>
					<td>{{ task.due_date }}</td>
					<td>{{ task.start_date }}</td>
					<td>{{ task.end_date }}</td>
					<td>{{ task.status }}</td>
					<td><a href="edittask/{{ task.id }}">Edit</a></td>
				   <td><a href="deletetask/{{ task.id }}">Delete</a></td>
				</tr>	
			</tbody>
		{% endfor %}
	</table>
{% endblock %}

